<!DOCTYPE html>
<html>
<head>
  <title>Todolist Item Details</title>
</head>
<body>




<%= link_to 'Back to List', todoings_path %>
<li></li>
<%= form_with(model: @todoing, method: :delete, local: true) do |form| %>
  <%= form.submit 'Remove Task', data: { confirm: 'Are you sure you want to remove this task?' } %>
<% end %>

</body>
</html>
